body{
    background: rgb(252,172,21);
    background: linear-gradient(143deg, rgba(252,172,21,1) 27%, rgba(254,52,52,1) 73%);
    font-family: 'Roboto';
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding: 0px;
}

.main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card{
    margin: 0 auto;
    width: 100%;
    background-color: rgb(255, 255, 255);
    height: 450px;
    border-radius: 25px;
    position:relative;
    /* padding-top: 40%; */
    display: flex;
    position: relative;
}

.btn{
    border-radius: 20px;
    background: rgb(252,172,21);
    background: linear-gradient(143deg, rgba(252,172,21,1) 27%, rgba(254,52,52,1) 73%);
    cursor: pointer;
    width: 40%;
    height: 50px;
    border: none;
    font-family: "Avant Garde", Helvetica, serif;
    color: antiquewhite;
}

.btn:hover{
    background: rgba(252, 109, 21, 0.603);
    background: radial-gradient(circle, rgba(252,110,21,1) 22%, rgb(255, 166, 0) 100%);
    transition: transform 0.5s ease;
    transform: scale(1.1);
}
 
.content{
    max-width: 50%;
    height: 200px;
    margin:  auto;
    padding-left: 35%;
    transform: translateY(0%);
    max-height: 200px;
}

.sq{
    position: absolute;
    top: 51%;
    background: rgb(252,172,21);
    background: linear-gradient(143deg, rgb(252, 106, 21) 27%, rgba(254,52,52,1) 73%);
    width: 40%;
    padding-top: 40%;
    transform: translate(-20%, -50%);
    border-radius: 25px;
    box-shadow: 0px 0px 20px rgb(255, 5, 5);
}


p{
    color: rgb(105, 91, 91);
}

h1{
    font-family: "Lucida Console", "Courier New", monospace;
}

.circles{
    padding-top: 50%;
    transform: translateY(-40%);
}

.dot {
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: block;
    margin: 5px;
  }

.circles :nth-child(2){
    height: 35px;
    border-radius: 15px;
    background: linear-gradient(143deg, rgb(232, 47, 18) 27%, rgb(255, 94, 8) 73%);


}

@media only screen and (max-width: 480px){
    .sq{
        top: 8%;
        left: 50%;
        transform: translateX(-50%);
        width: 60%;
        padding-top: 60%;
    }
    body, .btn{
        font-size: 10px;
    }

    .content{
        max-width: 50%;
        height: 200px;
        margin:  auto;
        padding-left: 5%;
        transform: translateY(50%);
        /* background-color: aqua; */
        max-height: 300px;
        width: 200px;
        padding-top: 25%;
        display: block;
    }

    .circles{
        display: flex;
        margin: 90px;
        padding-top: 50%;
        transform: translateY(-50%);
    }
    
    .dot {
        height: 15px;
        width: 15px;
        border-radius: 50%;
        display: flex;
        
      }

      .circles :nth-child(2){
        width: 35px;
        height: 14px;
        border-radius: 15px;
        background: radial-gradient(circle, rgba(252,110,21,1) 22%, rgb(255, 166, 0) 100%);
    
    }
    
    .card{
        display: block;
    }



    .btn{
        width: 90%;
        height: 40px;
        font-size: 15px;
        border-radius: 15px;
    }
  }



